body {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    background-color: #1E1E1E;
    margin: 0px;
}

header {
    width: 100%;
    top: 0px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    user-select: none;
    z-index: 1000;
    position: fixed;
}

#youtube-icon {
    width: 50px;
    height: 50px;
    padding-top: 6px;
    margin-left: 10px;
}

#project-name {
    font-size: 35px;
    margin: 0px;
    user-select: none;
}

.introduction-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    height: 900px
}

#introduction-title {
    font-size: 60px;
    color: white;
    margin-top: 185px;
    text-align: center;
    user-select: none;
}

#introduction-subtitle {
    font-size: 35px;
    color: #00BFAE;
    text-align: center;
    user-select: none;
}

#arrow {
    margin-top: 25px;
    width: 175px;
    height: 175px;
    user-select: none;
}

#get-started-button {
    width: 250px;
    height: 75px;
    border-radius: 45px;
    background-color: rgba(0, 191, 174, 0.68);
    border: none;
    color: white;
    font-size: 38px;
    font-weight: bold;
    margin-top: 15px;
    box-shadow: 0px 8px 10px 0px rgba(223, 215, 215, 0.25);
    user-select: none;
    margin-top: 40px;
    transition: 0.3s ease;
}

#get-started-button:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}

@media (max-width: 1024px) {
    #introduction-title {
        font-size: 45px;
        margin-top: 100px;
    }

    #introduction-subtitle {
        font-size: 28px;
    }

    #arrow {
        width: 120px;
        height: 120px;
    }

    #get-started-button {
        width: 200px;
        height: 60px;
        font-size: 28px;
    }
}

.product-page {
    padding-top: 70px;
    text-align: center;
    height: 100%;
    max-height: 875px;
}

#product-page-title {
    color: #00BFAE; 
    font-size: 55px;
    padding-top: 60px;
    margin-bottom: 25px;
    user-select: none;
}

#product-page-subtitle {
    color: #ffffff; 
    font-size: 30px;
    margin-top: 25px;
    user-select: none;
}

.product-boxes {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1300px;
    height: auto;
    padding: 75px 0px;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 80px;
    justify-content: center;
    align-items: center;
    gap: 110px;
    user-select: none;
}

.product-box {
    width: calc(33.333% - 20px);
    max-width: 300px;
    height: 265px;
    background-color: black;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.25);
    transition: 0.3s ease;
}

.product-box:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}

.product-title {
    color: white;
    font-size: 33px;
    padding-top: 15px;
}

.product-price {
    color: #00BFAE;
    font-size: 65px;
    font-weight: 400;
    margin-top: 35px;
}

.not-available {
    opacity: 0.65;
}

.soon-text {
    color: white;
    margin-top: 110px;
    font-size: 35px;
    opacity: 0.65;
}


@media (max-width: 1024px) {
    .product-box {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .product-box {
        width: 100%;
        max-width: 90%; 
    }
}








.discord-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

#discord-icon {
    width: 67px;
    height: 67px;
    margin-right: 15px;
}   

#discord-text {
    color: white;
    font-size: 43px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 999;
    user-select: none;
}

.popup-content {
    background: #000000;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    border: 5px solid white;
    text-align: left;
    width: 1339px;
    height: 747px;
    position: relative;
    top: 35px;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.close {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 45px;
    cursor: pointer;
    color: #ff0000;
}

.popup-header {
    display: flex;
    justify-content: center;
}

.popup-bot-title {
    font-size: 55px;
    margin: 0px;
    margin-top: 20px;
    color: #00BFAE;
}

.popup-bot-subtitle {
    font-size: 40px;
    color: white;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 50px;
}

.popup-bot-text {
    font-size: 35px;
    margin-bottom: 0px;
    font-weight: bold;
    color: white;
}

.popup-main {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}

.download-button {
    width: 195px;
    height: 57px;;
    background: url('assets/images/download-button.png') no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

#download-button-skinport {
    margin-top: 40px;
}

#download-button-csgo-empire {
    margin-top: 90px;
}

#payment-methods-text {
    margin-top: 24px;
    margin-bottom: 12px;
}

#contact-me-text {
    margin-left: 30px;
    margin-top: 12px;
    margin-bottom: 25px;
}

.discord-nickname {
    user-select: text;
}

.download-button:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
}

.highlighted {
    color: #00BFAE;
}

.info-box {
    padding-left: 30px;
}

.image-box {
    margin-right: 35px;
}

#csgoempire-bot-image {
    width: 472px;
    height: 550px;
}

#csgoempire-bot-image {
    width: 472px;
    height: 550px;
}

